body {
  margin: 0;
}

body,
button {
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 13px;
}

.hidden {
  display: none;
}

/**
 * Carousel
 */
.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 96px;
}

.carousel:-webkit-full-screen {
  height: 100vh;
}

.carousel .scroll {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
}

.carousel ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.carousel li {
  position: relative;
  flex: 0 0 100%;
  list-style: none;

  -webkit-scroll-snap-coordinate: 0% 0%;
  -ms-scroll-snap-coordinate: 0% 0%;
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: start;
}

.carousel figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel figcaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  line-height: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel button {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.carousel .fullscreen-toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  padding: 4px 8px;
  color: #fff;
}

/**
 * Overlays
 */
.overlay {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .overlay {
    display: none;
  }
}

.overlay--carousel {
  top: 50%;
  left: 55px;
  width: 445px;
  height: 356px;
  margin-top: -178px;
}

.overlay--slide {
  top: 0;
  right: 52px;
  width: 228px;
  height: 125px;
}

/**
 * Next/Previous controls
 */
.control {
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.control--previous {
  left: 0;
}

.control--next {
  right: 0;
}

@media (min-width: 1024px) {
  .control {
    display: none;
  }

  .carousel:hover .control {
    display: flex;
  }
}

.arrow {
  position: relative;
  width: 20px;
  height: 20px;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-left: 2px solid;
  border-bottom: 2px solid;
}

.arrow::before {
  z-index: 10;
  border-color: rgba(0, 0, 0, 0.3);
}

.arrow::after {
  z-index: 11;
  border-color: #fff;
}

.arrow--left {
  transform: rotate(45deg);
}

.arrow--left::before {
  top: 1px;
  left: 1px;
}

.arrow--right {
  transform: rotate(225deg);
}

.arrow--right::before {
  top: -1px;
  left: -1px;
}

/**
 * Navigation bullets
 */
.bullets {
  height: 0;
  line-height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .bullets {
    pointer-events: none;
  }
}

.bullets button {
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 4px;
  box-sizing: border-box;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.bullets button.active {
  background-color: #00a1de;
}

/**
 * Carousel: full screen
 */
.carousel--full-screen {
  height: 520px;
}

@media (max-width: 767px) {
  .carousel--full-screen {
    height: 235px;
  }
}

.carousel--full-screen .bullets {
  position: absolute;
  right: 24px;
  bottom: 52px;
}

@media (max-width: 767px) {
  .carousel--full-screen .bullets {
    left: 24px;
    bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .carousel--full-screen .bullets {
    display: none;
  }

  .carousel--full-screen:hover .bullets {
    display: block;
  }
}

.carousel--full-screen .bullets button {
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/**
 * Carousel: editorial
 */
.carousel--editorial {
  height: 390px;
}

@media (max-width: 767px) {
  .carousel--editorial {
    height: 180px;
  }
}

@media (min-width: 768px) {
  .carousel--editorial li {
    flex: 1 0 auto;
    width: calc(100% - 228px);
    margin-left: 24px;
  }

  .carousel--editorial li:first-child {
    width: calc(100% - 114px);
    margin-left: 0;
  }

  .carousel--editorial .control--previous {
    padding-right: 54px;
  }

  .carousel--editorial .control--next {
    padding-left: 54px;
  }
}

/**
 * Carousel: content
 */
.carousel--content {
  height: 265px;
}

.container1 {
  display: flex;
  padding: 40px 48px;
  background-color: #003145;
}

.container1__column {
  flex: 1 0 auto;
  background-color: #fff;
  width: 50%;
  height: 265px;
}

@media (max-width: 767px) {
  .carousel--content {
    height: 235px;
  }
}
